<div class="bg-slate-300 min-h-screen flex items-center justify-center">
  <div class="w-full max-w-md p-6 bg-white rounded-md shadow-md">
    <h1 class="text-3xl font-bold mb-6">Agendar Servicio</h1>

    <%= form_with(model: @servicio, url: servicios_auto_path, local: true) do |form| %>

      <% if @servicio.errors.any? %>
        <div class="mb-4 bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded">
          <ul>
            <% @servicio.errors.full_messages.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-6">
        <%= form.label :servicio, 'Seleccionar un servicio:', class: "block text-gray-700 font-bold mb-2" %>
        <%= form.select :tipo_servicio, options_for_select(['Diagnóstico avanzado', 'Mantenimiento especializado', 'Reparaciones integrales', 'Atención personalizada']), {}, class: "block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-transparent" %>
      </div>

      <div class="mb-6">
        <%= form.label :modelo, 'Modelo de vehículo:', class: "block text-gray-700 font-bold mb-2" %>
        <% if @vehiculos.present? %>
          <%= form.select :modelo_vehiculo, options_for_select(@vehiculos.pluck(:modelo_vehiculo)), {}, class: "block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-transparent", id: "modelo_vehiculo" %>
        <% end %>
      </div>

      <div class="mb-6">
        <%= form.label :patente_vehiculo, 'Patente:', class: "block text-gray-700 font-bold mb-2" %>
        <%= form.text_field :patente_vehiculo, value: @first_patente , class: "block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-transparent", id: "patente-field", readonly: true %>
      </div>

      <div class="mb-6">
        <%= form.label :fecha, 'Fecha:', class: "block text-gray-700 font-bold mb-2" %>
        <%= form.date_field :fecha, class: "block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-transparent", min: Date.current.to_s %>
      </div>

      <div class="mb-6">
        <%= form.label :hora, 'Hora:', class: "block text-gray-700 font-bold mb-2" %>
        <%= form.select :hora, options_for_select(['09:00', '10:00', '11:00', '12:00', '13:00']), {}, class: "block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-transparent" %>
      </div>

      <div class="mb-6">
        <%= form.label :comentario, 'Comentario:', class: "block text-gray-700 font-bold mb-2" %>
        <%= form.text_area :comentario, class: "block w-full p-2 border border-gray-300 rounded-md resize-none focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-transparent" %>
      </div>

      <div class="mb-6">
        <%= form.submit 'Enviar', class: "bg-orange-500 text-white font-bold py-2 px-4 rounded hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2" %>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener('turbo:load', function() {
    var modeloVehiculoSelect = document.getElementById('modelo_vehiculo');
    var patenteVehiculoField = document.getElementById('patente-field');

    modeloVehiculoSelect.addEventListener('change', function() {
      var selectedModeloVehiculo = this.value;

      fetch('/obtener_patente?modelo=' + selectedModeloVehiculo)
        .then(response => response.json())
        .then(data => {
          patenteVehiculoField.value = data.patente;
        })
        .catch(error => {
          console.error('Error al obtener la patente:', error);
        });
    });
  });
</script>
