<div class="bg-slate-300 container mx-auto my-auto rounded-md border px-4">
  <h1 class="text-3xl font-bold mb-6">Agregar Vehiculo</h1>

  <%= form_with(model: @vehiculo, url: vehiculos_path, local: true) do |form| %>

    <% @vehiculo.errors.full_messages.each do |error| %>
      <div>
          <%= error %>
      </div>
    <% end %>

    <div class="mb-6">
      <%= form.label :modelo_vehiculo, 'Modelo de vehículo:', class: "block text-gray-700 font-bold mb-2" %>
      <%= form.text_field :modelo_vehiculo, class: "block w-full p-2 border border-gray-300 rounded-md" %>
    </div>

    <div class="mb-6">
      <%= form.label :patente_vehiculo, 'Patente:', class: "block text-gray-700 font-bold mb-2" %>
      <%= form.text_field :patente_vehiculo, class: "block w-full p-2 border border-gray-300 rounded-md" %>
    </div>

    <div class="mb-6">
      <%= form.label :marca_vehiculo, 'Marca de vehículo:', class: "block text-gray-700 font-bold mb-2" %>
      <%= form.text_field :marca_vehiculo, class: "block w-full p-2 border border-gray-300 rounded-md" %>
    </div>

    <div class="mb-6">
      <%= form.label :color_vehiculo, 'Color de vehículo:', class: "block text-gray-700 font-bold mb-2" %>
      <%= form.text_field :color_vehiculo, class: "block w-full p-2 border border-gray-300 rounded-md" %>
    </div>

    <div class="mb-6">
      <%= form.submit 'Enviar', class: "bg-orange-500 text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>
</div>