
<div id="<%= dom_id(product) %>">
  <%= image_tag product.photo, width: 200 if product.photo.attached? %>

  <h1 class='title'>Nombre: <%= product.title %></h1>

  <p class='description'>Descripcion: <%= product.description %></p>

  <p class='stock'>Stock: <%= product.stock %></p>

  <span class='price'>Precio: $<%= number_with_delimiter(product.price, delimiter: '.', separator: ',') %></span>

  
</div>