<div class="flex justify-center items-center h-screen">
  <div class="max-w-md p-6 bg-white rounded-md shadow-md">
    <%= render partial: 'products/product_details', locals: { product: @product } %>

    <% if @product.owner? %>
      <div class="mt-4 flex space-x-4">
        <%= link_to t('.edit'), edit_product_path(@product), class: "text-blue-500 underline" %>
        <%= link_to t('.delete'), product_path(@product), data: {
          turbo_method: :delete,
          turbo_confirm: t('common.confirm')
        }, class: "text-red-500 underline" %>
      </div>
    <% end %>

    <%= render partial: 'favorite', locals: { product: @product } %>

    <%= turbo_stream_from @product %>
  </div>
</div>
